<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div id='main_wrapper'>
      <h1>wall works</h1>
      <form action='{% url "create_post" %}' method='post'>{% csrf_token %}
        <input type='text' name='post'>
        <input type='submit' value='POST'>
      </form>
      <div>
        {% for post in posts %}
          <p>{{ post.creator }}</p>
          <p>{{ post.post }}</p>
          <form method='post' action='{% url "comment" post.id %}'>{% csrf_token %}
            <input type='text' name='comment'>
            <input type='submit' value='comment'>
          </form>
          {% for comment in comments %}
            {% if comment.post == post %}
              <p>{{comment.creator}}</p>
              <p>{{comment.comment}}</p>
            {% endif %}
          {% endfor %}
        {% endfor %}

      </div>
    </div>
</body>


</html>
